[Unit]
Description = User Service
[Service]
User=roboshop
Environment=MONGO=true
{% for item in secrets %}
Environment={{ item }}="{{ lookup('community.hashi_vault.hashi_vault','secret=roboshop-' ~ env ~ '-secrets/data/' ~ component_name ~ ':' ~ item ~ ' token=' ~ vault_token ~ ' url=http://vault.devopsbymanju.shop:8200') }}"
{% endfor %}
ExecStart=/bin/node /app/server.js
SyslogIdentifier=user

[Install]
WantedBy=multi-user.target