[Unit]
Description = Catalogue Service

[Service]
User=roboshop
Environment=MONGO=true
Environment=MONGO_URL="{{ lookup('community.hashi_vault.hashi_vault', 'secret=secret/{{env}}/{{component_name}}:MONGO_URL token={{vault_token}} url=http://13.221.206.120:8200') }}"

ExecStart=/bin/node /app/server.js
SyslogIdentifier=catalogue

[Install]
WantedBy=multi-user.target

