[Unit]
Description = Catalogue Service

[Service]
User=roboshop
Environment=MONGO=true
Environment=MONGO_URL="mongodb://mongodb-{{ env }}.devopsbymanju.shop:27017/catalogue"
Environment=PORT=8080
ExecStart=/bin/node /app/server.js
Restart=always
SyslogIdentifier=catalogue

[Install]
WantedBy=multi-user.target

