- name: Add the user 'roboshop'
  ansible.builtin.user:
    name: roboshop

- name: Delete the existing the /app directory
  ansible.builtin.file:
    path: /app
    state: absent

- name: Create a app directory
  ansible.builtin.file:
    path: /app
    state: directory

- name: Download application code
  ansible.builtin.unarchive:
    src: https://roboshop-artifacts.s3.amazonaws.com/expense-v3.zip
    dest: /app
    remote_src: yes


