[Unit]
Description = Cart Service
[Service]
User=roboshop

{% for item in secrets %}
Environment={{ item }}="{{ lookup('community.hashi_vault.hashi_vault','secret=roboshop-' ~ env ~ '-secrets/data/' ~ component_name ~ ':' ~ item ~ ' token=' ~ vault_token ~ ' url=http://18.207.238.2:8200') }}"
{% endfor %}

ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart
[Install]
WantedBy=multi-user.target
